.ui-dialog {
  border-radius: 1rem !important;
  border: 0 !important;
  background-image: unset !important;
  background-color: $color-white !important;

  .ui-dialog-titlebar {
    background: unset !important;
    border: 0 !important;
    padding: 0.7rem 1.2rem 0.5rem 1.2rem !important;

    .ui-dialog-titlebar-close {
      border: 0 !important;
      background: unset !important;
      outline: none !important;
    }
  }

  &.wikiEditor-toolbar-dialog > .ui-dialog-buttonpane {
    border-top: 0 !important;
    background-color: transparent;
    padding: 0 1rem 0.3rem 1rem !important;

    .ui-dialog-buttonset button:first-child {
      margin-right: 0.5rem !important;
    }
  }
}

.ui-button {
  background: unset !important;
  background-color: $color-gray-100 !important;
  border: 0 !important;
  border-radius: 0.75rem !important;
  padding: 0.5rem 1.25rem !important;
  outline: none !important;
  margin-right: 0 !important;
  transition: background-color 300ms ease-in-out;

  &:hover,
  &:focus {
    background-color: $color-gray-200 !important;
  }

  .ui-button-text {
    color: $color-gray-900;
    font-size: 1rem;
    padding: 0 !important;
  }
}

input {
  background-color: $color-gray-100;
  border: 0;
  border-radius: 0.7rem;
  outline: 0;
  padding: 0.7rem 1rem;
  font-size: 1rem;
}

#wikieditor-toolbar-file-dialog {
  padding: 0 1rem !important;

  .wikieditor-toolbar-field-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $color-gray-100;
    border: 2px solid $color-gray-100;
    border-radius: 1rem;
    padding: 0.625rem 1rem !important;
    line-height: 1;
    transition: border-color 300ms ease-in-out;
    margin-top: 0.3rem;

    &:focus-within {
      border-color: $color-blue-500;
    }

    label {
      color: $color-gray-500;
      font-size: 0.75rem;
      width: max-content;
      line-height: 1;
      margin: 0 0 0.125rem 0;
      user-select: none;
    }

    input,
    select {
      border: 0;
      background-color: transparent;
      outline: none;
      line-height: 1;
      margin: 0.125rem 0;
      padding: 0;
      border-radius: 0;
    }

    .wikieditor-toolbar-file-alt-help {
      display: none !important;
    }
  }

  .wikieditor-toolbar-field-wrapper br {
    display: none !important;
  }
}

.oo-ui-buttonElement-button:not(.wikiEditor-ui-left .oo-ui-buttonElement-button) {
  background-color: $color-gray-100 !important;
  color: $color-gray-500 !important;
  border: 0 !important;
  border-radius: 0.75rem !important;
  transition: background-color 300ms ease-in-out !important;
  padding: 0.5rem 1.25rem !important;
  text-decoration: none !important;
  font-weight: 600 !important;

  &:hover {
    background-color: $color-gray-200 !important;
  }

  @at-root .editOptions & {
    background-color: $color-gray-200 !important;

    &:hover {
      background-color: $color-gray-300 !important;
    }
  }

  &#wpSave {
    background-color: $color-blue-100 !important;
    color: $color-blue-500 !important;

    &:hover {
      background-color: $color-blue-200 !important;
    }
  }

  @at-root #mw-editform-cancel & {
    background-color: $color-red-100 !important;
    color: $color-red-500 !important;
    margin-left: 0.3rem;

    &:hover {
      background-color: $color-red-200 !important;
    }
  }
}

.oo-ui-checkboxInputWidget {
  span {
    border: 0 !important;
    border-radius: 9rem !important;
    outline: none !important;
    background-color: $color-gray-100 !important;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Ctitle%3Echeck%3C/title%3E%3Cg fill='%233b82f6'%3E%3Cpath d='M7 14.17L2.83 10l-1.41 1.41L7 17 19 5l-1.41-1.42z'/%3E%3C/g%3E%3C/svg%3E") !important;
    transition: background-color 300ms ease-in-out;

    @at-root .editOptions & {
      background-color: $color-gray-200 !important;
    }
  }

  input[type='checkbox']:checked + span {
    background-color: $color-blue-100 !important;
  }
}

#wpSummary {
  border: 0;
  border-radius: 0.7rem;
  padding: 1.2rem 0.8rem;

  &:focus {
    box-shadow: inset 0 0 0 1px $color-blue-500 !important;
  }
}
