#content #mw-content-text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border-bottom: 1px solid $color-gray-200;
    padding-bottom: 0.4rem;
    font-weight: 600;
    word-break: keep-all;
  }

  ol,
  ul {
    margin: 0.3rem 0 0 1.6rem !important;
  }

  a {
    font-weight: 500;
    text-decoration: $color-transparent underline dotted;
    text-underline-offset: 2px;
    transition: text-decoration-color 300ms ease-in-out;

    &:not(.new, .external) {
      color: $color-blue-500;

      &:hover {
        text-decoration-color: $color-blue-400;
      }
    }

    &.new {
      color: $color-red-500;

      &:hover {
        text-decoration-color: $color-red-400;
      }
    }

    &.external:not(.sub-box-wrapper .sub-box .items .info a) {
      color: $color-emerald-600;

      &::before {
        content: '';
        height: 15px;
        width: 15px;
        margin-right: 0.125rem;
        position: relative;
        top: 0.125rem;
        display: inline-block;
        background-color: $color-emerald-600;
        background-image: url('https://dutkyo.wiki/images/5/58/Link.svg');
        background-size: 85%;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 0.25rem;
      }
    }
  }

  #toc {
    display: flex;
    flex-direction: column;
    width: max-content;
    max-width: 100%;
    background-color: $color-gray-100;
    border: 0;
    border-radius: 1rem;
    padding: 0.625rem 1rem;
    margin: 0.75rem 0;
    line-height: 1;
    font-size: 15px;

    &::before {
      content: '목차';
      color: $color-gray-500;
      font-size: 13px;
      width: max-content;
      line-height: 1;
      user-select: none;
    }

    .toctitle {
      display: none;
    }

    ul {
      margin: 0;
      list-style: none;

      li {
        margin: 0.5rem 0;

        ul {
          margin-left: 1rem;
        }
      }
    }
  }

  table {
    background-color: #f8f9fa;
    color: #202122;
    margin: 1em 0;
    border: 1px solid $color-gray-200;
    border-collapse: collapse;

    th,
    td {
      border-color: $color-gray-200 !important;
    }
  }

  table.wikitable {
    border: 0;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 0.7rem;

    tbody tr {
      :is(th, td) {
        border-bottom-width: 0;
        padding: 0.25rem 0.75rem;
        white-space: pre-wrap;
      }

      &:first-child {
        :is(th, td) {
          &:first-child {
            border-top-left-radius: 0.7rem;
          }

          &:last-child {
            border-top-right-radius: 0.7rem;
          }
        }
      }

      &:last-child {
        :is(th, td) {
          border-bottom-width: 1px;

          &:first-child {
            border-bottom-left-radius: 0.7rem;
          }

          &:last-child {
            border-bottom-right-radius: 0.7rem;
          }
        }
      }
    }
  }

  .warningbox {
    background-color: $color-amber-100;
    border: 0;
    color: $color-amber-500;
    border-radius: 0.7rem;

    .mw-continue-editing a {
      color: $color-amber-500;
      text-decoration: underline dotted;
      text-underline-offset: 2px;
    }
  }

  .mw-editform {
    .wikiEditor-ui {
      .wikiEditor-ui-view.wikiEditor-ui-view-wikitext {
        border: 0;

        .wikiEditor-ui-top {
          border-bottom: 0;

          #wikiEditor-ui-toolbar {
            border-bottom: 1px solid $color-gray-200;
            border-radius: 0.7rem 0.7rem 0 0;
            background-color: $color-gray-100;
            box-shadow: none;

            .group {
              border-color: $color-gray-200;

              span.label {
                height: 36.28px;
                display: flex;
                align-items: center;
                color: $color-gray-500;
              }

              .oo-ui-buttonElement-button {
                transition: background-color 300ms ease-in-out;
                border-radius: 0.7rem;
              }

              .tool a.label {
                height: 36.28px;
                display: flex;
                align-items: flex-end;
                color: $color-gray-500;
                text-decoration: none;

                &::after {
                  height: 36.28px;
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Ctitle%3E down %3C/title%3E%3Cpath d='m12.085 4.943-4.035 3.86-3.947-3.86-1.053 1.053 5 5 5-5z' fill='%236b7280'/%3E%3C/svg%3E%0A");
                }
              }
            }

            .tabs .tab a {
              height: 36.28px;
              display: flex;
              align-items: center;
              color: $color-gray-500;
              text-decoration: none;

              &::before {
                height: 36.28px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Ctitle%3E down %3C/title%3E%3Cpath d='m12.085 4.943-4.035 3.86-3.947-3.86-1.053 1.053 5 5 5-5z' fill='%236b7280'/%3E%3C/svg%3E%0A");
              }
            }

            .sections .section {
              border-color: $color-gray-200;
            }
          }
        }

        .wikiEditor-ui-bottom .wikiEditor-ui-text .CodeMirror-gutter-elt {
          background-color: $color-gray-100;
        }
      }

      .CodeMirror {
        padding: 0;
      }
    }

    .editOptions {
      border: 0;
      border-top: 1px solid $color-gray-200;
      border-radius: 0 0 0.7rem 0.7rem;
      background-color: $color-gray-100;
    }
  }

  .mw-references-wrap {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid $color-gray-200;

    .references {
      margin: 0 1.5rem;
    }
  }
}
