#content #mw-content-text {
  .mw-parser-output {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      border-color: $color-gray-200;
      padding-bottom: 0.4rem;
      font-weight: 600;
    }

    a {
      font-weight: 500;
      text-decoration: $color-transparent underline dotted;
      transition: text-decoration-color 300ms ease-in-out;

      &:not(.new) {
        color: $color-blue-500;

        &:hover {
          text-decoration-color: $color-blue-400;
        }
      }

      &.new {
        color: $color-red-500;

        &:hover {
          text-decoration-color: $color-red-400;
        }
      }
    }
  }
}
