:root {
  --color-white: #ffffff;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
}

.df-main {
  margin: 0 auto;
  padding: 0 0.75rem;
  display: flex;
  max-width: 80rem;
  width: 100%;
}

.df-article {
  padding: 1.5rem 0;
  width: 100%;
}

.df-header {
  display: flex;
  flex-direction: column;
  border: 0;
  margin-bottom: 0.625rem;
}

.df-header-info {
  display: flex;
  align-items: center;
}

.df-header-info-title {
  color: var(--color-gray-900);
  outline: none;
  filter: brightness(95%);
  transition: filter 300ms ease-in-out;
  font-weight: 600;
  font-size: 1.875rem;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: normal;
}

.df-header-buttons {
  margin-left: auto;
  display: flex;
  column-gap: 0.375rem;
}

.df-header-button {
  background-color: var(--color-gray-100);
  outline: none;
  transition: background-color 300ms ease-in-out;
  border: 0;
  border-radius: 0.75rem;
  line-height: 1.5rem;
  font-size: 1rem;
}

.df-header-button-veditor {
  padding: 0.5rem 11px;
}

.df-header-button-editor {
  padding: 0.5rem 0.75rem;
}

.df-header-button-more {
  padding: 0.5rem 15px;
}

.df-header-button-history {
  padding: 0.5rem 0.75rem;
}

.df-header-button:hover,
.df-header-button:focus {
  background-color: var(--color-gray-200);
}

.df-header-button i {
  color: var(--color-gray-500);
}

.df-header-buttons-more-wrapper {
  position: fixed;
  height: 0;
}

.df-header-buttons-more {
  display: flex;
  position: relative;
  background-color: var(--color-gray-50);
  padding: 0.375rem;
  border: 1px solid var(--color-gray-50);
  box-shadow: 0px 13px 27px -5px rgba(50, 50, 93, 0.25), 0px 8px 16px -8px rgba(0, 0, 0, 0.3), 0px -6px 16px -6px rgba(0, 0, 0, 0.025);
  border-radius: 0.5rem;
  right: calc(100% - 42px);
  opacity: 0;
  visibility: hidden;
  transform: translate(0, -1rem);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.df-header-more-menu:hover .df-header-buttons-more,
.df-header-more-menu:focus-within .df-header-buttons-more {
  opacity: 1;
  visibility: visible;
  transform: translate(0.25rem, 0);
}

.df-header-more-button {
  background-color: transparent;
  outline: none;
  transition: background-color 300ms ease-in-out;
  border-radius: 0.75rem;
}

.df-header-more-button:hover {
  background-color: var(--color-gray-100);
}

.df-header-more-button i {
  color: var(--color-gray-500);
}

.df-header-more-button-history {
  padding: 0.5rem 0.75rem;
}

.df-header-more-button-move,
.df-header-more-button-delete,
.df-header-more-button-protect {
  padding: 0.5rem 13px;
}

/* xs */
@media (min-width: 475px) {
  .df-main {
    padding: 0 1.5rem;
    width: 100%;
  }
}
