@tailwind base;
@tailwind components;
@tailwind utilities;

/* 로그인, 계정 만들기 버튼 */

#pt-login a,
#pt-createaccount a {
  @apply font-medium text-gray-900 hover:underline decoration-dotted decoration-gray-800 !important;
}

/* 프로필 호버 메뉴 */

.profile .fixed ul li.mw-list-item {
  @apply m-0;
}

.profile .fixed ul li.mw-list-item a {
  @apply inline-block px-3 py-2 font-medium text-[15px] text-gray-900 hover:bg-gray-100 no-underline w-full h-full rounded-md;
}

/* 분류 */

.catlinks {
  @apply flex border-0 bg-transparent m-0 p-0 mt-2 mb-0.5 !important;
}

.catlinks .mw-normal-catlinks {
  @apply text-transparent leading-[0] w-full !important;
}

.catlinks .mw-normal-catlinks > a {
  @apply hidden;
}

.catlinks .mw-normal-catlinks ul {
  @apply flex flex-wrap gap-y-1.5 !important;
}

.catlinks .mw-normal-catlinks ul li {
  @apply border-none m-0 p-0 mr-1.5 leading-[1.6] last:mr-0 !important;
}

.catlinks .mw-normal-catlinks ul li a {
  @apply text-[15px] leading-none whitespace-nowrap decoration-dotted hover:underline outline-none focus:filter focus:brightness-95 transition-all px-3.5 py-1 rounded-full;
}

.catlinks .mw-normal-catlinks ul li a:not(.new) {
  @apply bg-blue-50 text-blue-500 hover:text-blue-500/80 focus:text-blue-500/80 decoration-blue-400;
}

.catlinks .mw-normal-catlinks ul li a.new {
  @apply bg-red-50 text-red-500 hover:text-red-500/80 focus:text-red-500/80 decoration-red-400 !important;
}

/* ===== 목차 ===== */

/* 목차 블록 */
#content #toc {
  @apply flex flex-col w-max max-w-full bg-gray-100 border-2 border-gray-100 rounded-2xl px-4 py-2.5 mt-3 leading-none text-[15px] before:content-["목차"] before:text-gray-500 before:text-sm before:w-max before:leading-none before:select-none !important;
}

/* 목차 타이틀, 숨기기/보이기 버튼 */
#content #toc .toctitle {
  @apply hidden;
}

/* 최상위 링크 목록 */
#content #toc ul {
  @apply my-0 list-none;
}

/* 최상위 링크 목록 항목 */
#content #toc ul li {
  @apply my-2;
}

/* 최상위 아닌 링크 목록 */
#content #toc ul li ul {
  @apply ml-5 !important;
}

/* =============== */

/* ===== 본문 헤딩 ===== */

/* h1 */
#content h1 {
  @apply font-semibold text-4xl border-gray-200 mb-2;
}

/* h2 */
#content h2 {
  @apply font-semibold text-2xl border-gray-200 mb-2;
}

/* h3 */
#content h3 {
  @apply font-semibold text-xl border-gray-200 mb-2;
}

/* h4, h5, h6 - 크기가 작으면 읽기 어려워 고정 */
#content h4,
#content h5,
#content h6 {
  @apply font-semibold text-lg border-gray-200 mb-2;
}

/* =============== */

/* ===== 본문 링크 ===== */

/* 기본 스타일 */
#content a {
  @apply decoration-dotted hover:underline focus:underline outline-none transition-colors duration-300 ease-in-out;
}

/* 존재하는 내부 문서로의 링크 */
#content a:not(.new, .external) {
  @apply text-blue-500 hover:text-blue-500/80 focus:text-blue-500/80 decoration-blue-400;
}

/* 존재하지 않는 내부 문서로의 링크 */
#content a.new {
  @apply text-red-500 hover:text-red-500/80 focus:text-red-500/80 decoration-red-400;
}

/* 외부 페이지로의 링크 */
#content :not(.sub-box .info) > a.external {
  @apply text-emerald-600 before:content-[""] before:h-[15px] before:w-[15px] before:mr-0.5 before:relative before:top-0.5 before:inline-block before:bg-emerald-600 before:bg-[url("https://wiki.tica.fun/images/5/58/Link.svg")] before:bg-85% before:bg-no-repeat before:bg-center before:rounded-[4px] !important;
}

/* =============== */

/* == 본문 리스트 == */

#content ul {
  @apply list-disc;
}

/* =============== */

/* ==== 테이블 ==== */

#content table {
  @apply bg-gray-100 font-medium border-0 rounded-[10px] border-separate [border-spacing:_0] !important;
}

#content table thead,
#content table tbody,
#content table tr {
  @apply border-0 !important;
}

#content table tr th,
#content table tr td {
  @apply px-4 py-1.5 border-0 border-r border-b border-gray-200 !important;
}

#content table tr th:first-child,
#content table tr td:first-child {
  @apply border-l !important;
}

#content table tr th {
  @apply border-t !important;
}

#content table tr:first-child *:first-child {
  @apply rounded-tl-[10px] !important;
}

#content table tr:first-child *:last-child {
  @apply rounded-tr-[10px] !important;
}

#content table tr:last-child *:first-child {
  @apply rounded-bl-[10px] !important;
}

#content table tr:last-child *:last-child {
  @apply rounded-br-[10px] !important;
}

/* =============== */

/* ===== 각주 ===== */

#content .mw-references-wrap {
  @apply my-2 !important;
}

#content .mw-references-wrap .references {
  @apply mx-5 my-0 list-decimal marker:text-gray-500 !important;
}

/* =============== */

/* ===== 코드 ===== */

#content pre {
  @apply rounded-xl my-2;
}

#content code {
  @apply rounded-md px-2.5 py-0.5;
}

/* =============== */

/* table {
  @apply w-max border-0 rounded-[10px] bg-gray-100;
}

table tr {
  @apply border-gray-200 !important;
}

table tr td {
  @apply border px-3.5 py-2.5 leading-none !important;
}

table tr td:not(:last-child) {
  @apply border-r border-gray-200 !important;
}

table tr td * {
  @apply leading-none;
}

table tr:first-child td:first-child {
  @apply rounded-tl-[10px];
}

table tr:first-child td:last-child {
  @apply rounded-tr-[10px];
}

table tr:last-child td:first-child {
  @apply rounded-bl-[10px];
}

table tr:last-child td:last-child {
  @apply rounded-br-[10px];
} */

/* 
.prose p {
  @apply my-2;
}

.prose ul li {
  @apply m-0 mb-[0.1rem];
}

.prose #mw-content-text * {
  @apply outline-none;
}

.prose #mw-content-text p {
  @apply leading-5;
}

.prose #mw-content-text #toc {
  @apply flex flex-col w-max bg-gray-100 border-2 border-gray-100 rounded-2xl px-4 py-2.5 mt-3 leading-none text-[15px] before:content-["목차"] before:text-gray-500 before:text-sm before:w-max before:leading-none before:select-none;
}

.prose #mw-content-text .toctitle {
  @apply hidden;
}

.prose #mw-content-text ul {
  @apply m-0;
}

.prose #mw-content-text ul li:not(.toclevel-1) {
  @apply pl-2;
}

.prose #mw-content-text ul li span.tocnumber {
  @apply font-normal after:content-['.'] !important;
}

.prose #mw-content-text ul li.toclevel-1 {
  @apply p-0;
}

.prose #mw-content-text > :not(#toc) > ul {
  @apply pl-6 my-2 !important;
}

.prose #mw-content-text > :not(#toc) > ul li {
  @apply pl-0 mt-0 mb-0.5 marker:text-gray-400;
}

.wikitable {
  @apply w-max border-0 rounded-[10px] bg-gray-100;
}

.wikitable tr {
  @apply border-gray-200 !important;
}

.wikitable tr td {
  @apply border px-3.5 py-2.5 leading-none !important;
}

.wikitable tr td:not(:last-child) {
  @apply border-r border-gray-200 !important;
}

.wikitable tr td * {
  @apply leading-none;
}

.wikitable tr:first-child td:first-child {
  @apply rounded-tl-[10px];
}

.wikitable tr:first-child td:last-child {
  @apply rounded-tr-[10px];
}

.wikitable tr:last-child td:first-child {
  @apply rounded-bl-[10px];
}

.wikitable tr:last-child td:last-child {
  @apply rounded-br-[10px];
} */

/* .catlinks-allhidden {
  @apply hidden !important;
}

.prose a.new[href],
#catlinks a.new[href] {
  @apply text-red-500 hover:text-red-500/80 focus:text-red-500/80 decoration-red-400 !important;
}

.prose a.external[href] {
  @apply text-emerald-600 before:content-[""] before:h-[15px] before:w-[15px] before:mr-0.5 before:relative before:top-0.5 before:inline-block before:bg-emerald-600 before:bg-[url("https://wiki.tica.fun/images/5/58/Link.svg")] before:bg-85% before:bg-no-repeat before:bg-center before:rounded-[4px] !important;
} */

/* html {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f1f1f1;
}

a {
  @apply text-blue-500;
}

a:visited {
  @apply text-blue-600;
}

.searchboxInput {
  @apply shadow rounded text-center border-neutral-300 cursor-pointer focus:cursor-text focus:text-left transition-all;
}

.searchbox > .mw-ui-button {
  @apply hidden;
}

.wikitable {
  @apply border-0 border-separate rounded bg-transparent;
  border-spacing: 0px 0px;
}

.wikitable > caption {
  @apply mb-1;
}

.wikitable > * > tr {
  @apply border-0;
}

.wikitable > * > tr > th {
  @apply bg-neutral-100 hover:bg-neutral-200;
}

.wikitable > * > tr > td {
  @apply hover:bg-neutral-100;
}

.wikitable > * > tr > th,
.wikitable > * > tr > td {
  @apply border border-neutral-200 px-2 py-1;
}

.wikitable > * > tr:first-child > th:first-child,
.wikitable > * > tr:first-child > td:first-child {
  @apply rounded-tl;
}

.wikitable > * > tr:first-child > th:last-child,
.wikitable > * > tr:first-child > td:last-child {
  @apply rounded-tr;
}

.wikitable > * > tr:last-child > th:first-child,
.wikitable > * > tr:last-child > td:first-child {
  @apply rounded-bl;
}

.wikitable > * > tr:last-child > th:last-child,
.wikitable > * > tr:last-child > td:last-child {
  @apply rounded-br-lg;
}

.oo-ui-toolbar {
  @apply sticky top-0 z-40;
}

#comment {
  @apply resize-none shadow border bg-neutral-100 p-3;
}

.site-button {
  @apply rounded bg-blue-600 hover:bg-blue-700 text-white px-3 py-2 cursor-pointer shadow;
}

h2 {
  @apply text-lg font-bold mb-3 border-b-neutral-300;
}

.mw-references-wrap {
  @apply border-t mt-10 text-neutral-400;
}

.references {
  @apply m-0 ml-3 !important;
}

.ve-ce-nail {
  display: none;
}

br {
  @apply my-3;
}

ul {
  @apply list-disc;
}

.oo-ui-dialog {
  z-index: 60 !important;
} */
